body {
    background: url(../images/img0.jpg) no-repeat;
    background-size: 1000px 800px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 993px;
}

#nav ul {
    list-style: none;
    float: left;
    margin: 5px 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-left: 20px;
    cursor: pointer;
}

#nav img {
    width: 32px;
    height: 32px;
}


#win-menu {
    position: fixed;
    bottom: 46px;
    background-color: rgba(19,23,28,0.81);
    height: 400px;
    /* width: 640px; */
    overflow: hidden;
    padding-left:10px;
    z-index: 999;
    overflow-y: hidden;
    transition: bottom 0.3s;
}

#win-menu .content p {
    font-size: 14px;
}

.warp {
    background-color: rgba(19,23,248,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

#win-menu.hidden {
    bottom:-70%;
}

#win-menu .icon {
    position: relative;
    top: 3px;
    left: -4px;
    width: 16px;
    height: 16px;
}

#win-menu .blocks {
    float: right;
    width: 350px;;
    padding:0 10px;
    padding-top: 5px;
    font-size: 12px;
    height: 100%;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

#win-menu img:hover {
    border: 2px solid white;
}

#win-menu .blocks .title,#win-menu .blocks .content {
    color: white;
    margin: 1px 0;
    line-height: 40px;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#win-menu .list{
    float: left;
    /* height: 400px; */
    width:200px;
    padding:0 10px;
    padding-top: 5px;
    font-size: 12px;
    height: 100%;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

#win-menu .list .item{
    color:white;
    margin: 1px 0;
    line-height: 40px;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color 0.3s;
    position: relative;
    width: calc(100% - 20px);
}


#win-menu .list .item:hover,.sub-item:hover{
    background-color: rgba(72,72,72,0.58);
    cursor: pointer;
}

.windows {
    border: 1px solid greenyellow;
    width: 800px;
    height: 600px;
    position: fixed;
    z-index: 1;
}

#file-system {
    /* border: 1px solid greenyellow; */
    /* width: 800px; */
    /* height: 600px; */
    /* position: relative; */
    display: none;
}

.window-icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    left: 2px;
}

.window-head {
    background: white;
    padding: 10px;
}

#edit .nav {
    background: lightgray;
    padding: 8px;
    height: 13px;
}

.window-head ul, #edit .nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

#edit .nav ul {
    float: left !important;
    font-size: 13px;
}

.window-head li, #edit .nav li{
    display: inline;
    margin-left: 5px;
    cursor: pointer;
}

#file-system .path-nav {
    height: 30px;
    background: lightgray;
}

#file-system .path-nav ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 1%;
}

#file-system .path-nav li {
    display: inline;
    margin-left: 5px;
    cursor: pointer;
}

#file-system .path-nav .pathwithicon {
    padding-top: 1%;
    margin-left: 57px;
    background: white;
    border: 1px solid lightgray;
}

#file-system .path-nav .pathwithicon img {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#file-system .canvas {
    background: white;
    width: 100%;
    height: calc(100% - 70px);
    /* overflow: auto; */
}

#file-system .tree {
    border-right: 1px solid lightgray;
    float: left;
    width: 25%;
    height: 100%;
    overflow: auto;
    opacity: 1;
}

#file-system .tree ul{
    list-style: none;
    /* float: left; */
    margin: 0;
    padding: 8px;
}

#file-system .tree li {
    background: url('../images/file.png') no-repeat;
    background-size: 16px;
    padding-left: 11px;
}

#file-system .tree span {
    cursor: pointer;
}

#file-system .tree img {
    position: relative;
    width: 10px;
    height: 10px;
    left: -21px;
    cursor: pointer;
    opacity: 0;
}

#file-system .tree ul:hover img {
    opacity: 1;
}

#file-system .tree:hover #tags {
    opacity: 1;
}

#file-system .content {
    float: right;
    border-right: 1px solid lightgray;
    width: 74%;
    height: 100%;
    overflow: auto;
}

#file-system table {
    margin-top: 5px;
    display: none;
    width: 91%;
    margin: auto;
    text-align: center;
}
#tags {
    position: absolute;
    width: 22%;
    margin: auto;
    text-align: center;
    opacity: 0;
    bottom: 0;
}
#tags span {
    padding: 0 15px;
    background: rgba(139, 134, 134, 0.5);
    border: 2px solid red;
    border-radius: 25px;
}

#fat td {
    width: 12.5%;
}

#file-system .busy{
    background: lightcoral;
}

#file-system article {
    margin: 8px;
    width: 13%;
    text-align: center;
    display: inline-block;
}

#file-system article img {
    width: 48px;
    height: 48px;
}

#file-system article p,#file-system article input {
    margin: 0;
    width: 100%;
    white-space:nowrap; 
    text-overflow:ellipsis; 
    overflow:hidden;
    text-align: center;
}

#file-system .selected {
    background-color: lightblue;
}

#edit .content{
    width: 100%;
    height: calc(100% - 69px);
    background: white;
}

#edit .content textarea {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
}

#terminal .content {
    background: black;
    color: white;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
}

#terminal .pc-name {
    color: green;
    margin-right: 5px;
}

#terminal .path {
    color: yellow;
}

#terminal .command {
    width: 96%;
    border: none;
    BACKGROUND-COLOR: transparent;
    outline: none;
    color:white;
}